h1{
    text-align: center;
    color: whitesmoke;
    font-size: 39px;
    font-family: 'Source Sans Pro', sans-serif;
}
p{
    text-align: center;
    color: lemonchiffon;
    font-size: 25px;
    font-family: 'Mountains of Christmas', cursive;
}
body{
    background: url(https://static1.squarespace.com/static/5942d5a5f5e231d498cb0090/t/5b13e6780e2e7280eec1835a/1528030842773/Psychic-Reader---Gif---09---Monocolor.gif?format=original)
}

